*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "open sans";
    color: #fff;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
section{
    background-image: url('/images/image.png');
    /* background: linear-gradient(to right, rgb(184, 132, 20), rgba(32, 186, 18, 0.566)), rgb(1, 74, 6); */
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.form-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)); */
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

h2{
    color: rgba(247, 251, 249, 0.959);
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    font-weight: 100;
}
.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
button{
    border-style: none;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(8, 53, 24);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .8;
    transition: opacity .3s ease;
}
button:hover{
    background-color: rgb(82, 154, 48);
}
.link{
    text-align: center;
}.link a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity .3s ease;
}
.link a:hover{
    opacity: 1;
}

 div.form-container{
    
    /* background-color: #d0fabe; */
    /* background: linear-gradient(to right, rgb(176, 118, 48), rgb(25, 105, 31)), rgb(65, 115, 40); */
    background-color: rgba(6, 61, 6, 0.872);
  
} 

.control input[type="text"]{
    font-size: 15px;
}

.labeluser,.lablepsw{
    font-size: 22px;
}